<h1>new comment</h1>
<%= form_for(@comment, :url => "/articles/#{@comment.article_id}/comments/#{@comment.id}", :method => :put) do |f| %>
  <%= f.label 'body' %>
  <%= f.text_field 'body'%>
  <%= f.hidden_field :time, :value => Time.now %>
  <%= f.hidden_field :article_id, :value => @article_id %>
    <%= f.hidden_field :id, :value => @comment.id %>
  <%= f.submit %>
  <% end %>