<form action="/programmers/<%= @id %>" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" value="<%= @name %>" id="name">

  <label for="twitter_username">Twitter Username:</label>
  <input type="text" name="twitter_username" value="<%= @twitter_username %>" id="twitter_username">

  <label for="twitter_pic">Twiter pic URL:</label>
  <input type="text" name="twitter_pic" value="<%= @twitter_pic %>" id="twitter_pic">

  <label for="github_username">Github Username:</label>
  <input type="text" name="github_username" value="<%= @github_username %>" id="github_username">

  <input type="submit" value="Edit">
</form>
