<link rel="stylesheet" href="../css/style.css">
<!-- Result list page -->
<h1>Results for "<%= @search_results[:name] %>"</h1>
<ol>
  <% @search_results[:title].size.times do |i| %>
    <% imdbID = @search_results[:imdbID][i] %>
    <li><a href="/movies/<%= imdbID %>">
      <%= @search_results[:year][i] %>
      <%= " - " %>
      <%= @search_results[:title][i] %></a>
    </li>
  <% end %>
</ol>
