<!DOCTYPE html>
<html>
<head>
  <title>Blarghticles</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, msg| %>
    <div class="flash flash-<%= key %>">
      <p><%= msg %></p>
    </div>
  <% end %>

  <%= yield %>
</body>
</html>
