<h1>You've searched for</h1>
<h2><%= @movie_search_input %></h2>

<%#  <%= link(:url => 'http://www.google.com', :text => 'Google', :query => 'q=Search') %>

<ul>
<% @response_array.each do |movie_hash| %>
<% @id = movie_hash["imdbID"] %>
  <li>
  <%= link_to "/movies/#{@id}", "#{movie_hash["Title"]}" %>
  </li>
<% end %>
</ul>

<!--
<%#   <%= link_to 'http://www.sinatrarb.com','Sinatra Website' %>
=> <a href="http://www.sinatrarb.com">Sinatra Website</a>
 -->

<%# <%= link(:url => "/movies/#{movie_hash['imdbID']}", :text => "#{movie_hash["Title"]}") %>


<!--
  Jonathan's code:

<ol>

<%#  <% @movie_hashes.each do |movie_hash| %>
    <li>
<%#      <a href="<%= movie_hash[:url] %>">
<%#        <h2><%= movie_hash[:title] %></h2>
<%#        <p><%= movie_hash[:year] %></p>
<%#        <p>type: <%= movie_hash[:type] %></p>
      </a>
    </li>
<%#  <% end %>

</ol>

  -->