<h1>Hello from ID</h1>
<br>
<%= @programmer[:name] %><br><br>
<%= @programmer[:twitter_username] %><br><br>
<img src="<%= @programmer[:twitter_pic] %>"><br><br>

<%= @programmer[:github_username] %><br><br>

<form action='/programmers/<%= @programmer[:id] %>/edit' method='get'>
  <input type='submit' value='EDIT'>
</form>