<h1>Edit</h1>

<%= form_tag("/programmers/#{@programmer.id}") do %>
  <%= label_tag 'name', 'Name' %>
  <%= text_field_tag 'name', "#{@programmer.name}"  %>
  <%= label_tag 'twitter_username', 'Twitter Username' %>
  <%= text_field_tag 'twitter_username', "#{@programmer.twitter_username}"  %>
  <%= label_tag 'twitter_pic', 'Twitter Image URL' %>
  <%= text_field_tag 'twitter_pic', "#{@programmer.twitter_pic}"  %>
  <%= submit_tag 'Update'%>
<% end %>
