<h1>Wazzzzuuppppp</h1>

<ul>
  <li><%=@programmer.name%></li>
  <li><%=@programmer.twitter_username%></li>
  <li><%=@programmer.twitter_pic%></li>
  <img src="<%=@programmer.twitter_pic%>">
</ul>

<%= link_to('Edit', "/programmers/#{@programmer.id}/edit") %>