hey
<% @list.each do |prog| %>
    <li><%= prog.name %>
      <br><a href=<%="/programmers/#{prog.id}"%>><img src=<%=prog.twit_pic%> alt=""></a>
      <br><a href=<%="http://www.twitter.com/#{prog.twitter_username}"%>><%= prog.twitter_username %></a>
    </li>
    <% end %>
