<h2>Add new Pokemon!</h2>
<%= form_tag('/pokemon') do %>
<%= label_tag 'name' %>
<%= text_field_tag('name') %><br>
<%= label_tag 'nickname' %>
<%= text_field_tag('nickname') %> <br>
<% Trainer.all.each do |t| %>
  <%=radio_button_tag 'trainer', t.id %>
  <%=label_tag 'trainer', "#{t.name}" %>
<% end %>
<%= submit_tag('Add Pokemon') %>
<% end %>
