

<h1>Edit Article!</h1>
<%= form_for(@article) do |f| %>
<%= f.label 'Title' %>
<%= f.text_field :title %>
<%= f.label 'Author' %>
<%= f.text_field :author %>
<%= f.label 'body' %>
<%= f.text_field :body %>
<%= f.submit %>
<% end %>