<img src="<%= "#{@img_url}" %>">

<strong><%= "#{@name}" %></strong> is a
<% if @is_cute == "t" %>
  cute
<% else %>
  pretty ugly
<% end %>
<%= "#{@age}" %>-year-old kitten.

<form action="/kittens/<%= "#{@id}" %>/delete" method="post">
  <input type="hidden">
  <input type="submit" value="Delete <%= "#{@name}" %>">
</form>

<br>

<a href="/kittens">Click here to view all the kittens</a>.