
  <h1 class='page-title'><%= @title %></h1>
  <div class="movie_section">
    <section class='text_info'>
      <p><strong>Title: </strong><%= @title %></p>
      <p><strong>Year: </strong><%= @year %></p>
      <p><strong>Rated: </strong><%= @rated %></p>
      <p><strong>Released: </strong><%= @released %></p>
      <p><strong>Runtime:</strong> <%= @runtime %></p>
      <p><strong>Genre: </strong><%= @genre %></p>
      <p><strong>Director: </strong><%= @director %></p>
      <p><strong>Writer:</strong> <%= @writer %></p>
      <p><strong>Actors:</strong> <%= @actors %></p>
      <p><strong>Plot: </strong><%= @plot %></p>
    </section>
     <div class="photo">
      <img src=<%= @poster_url %> />
    </div>
  </div>
  <div class="footer"></div>
    <p class='copyright'>Copyright Darth Vander Hoop 2013</p>