
<ol>
  <% @kittens.each do |kitten|  %>
  <li>name: <%= kitten["name"] %><br>
  age: <%= kitten["age"] %><br>
  is_cute: <%= kitten["is_cute"] %><br>
	image_url2: <img src=<%= kitten['image_url'] %>
  image_url: <%= kitten["image_url"] %><br>
owner_name: <%= kitten["owner_name"] %></li><br>

      <% end %>
</ol>

