<%= form_tag "programmers/#{programmer.id}" do %>

<%= end %>



<!-- <div class="image"><img src="<%= @data.img_url %>"></div>

<form method="post" action="/programmers/<%= @data.id %>">
<input type="hidden" name="id" value="<%= @data.id %>"  >
<input type="text" name="githubs" value="githubs">
<input type="text" name="img_url" value="<%= @data.img_url %>">
<input type="text" name="twitter" value="<%= @data.twitter %>">
<input type="text" name="name" value="name">
<input type="submit" value="submit"> -->