<div class = 'links'>
<a href="/">Home</a>
<a href="/new_kitten">Add Kitten</a>
<a href="/kittens">View All Kittens</a>
<a href="/owners">View All Owners</a>
</div>


<% @kitten['is_cute'] == 't' ? @cute = 'CUTE' : @cute = 'NOT CUTE' %>
<% @owner != nil ? @owner_name = @owner : @owner_name = 'No Owner' %>
    <%=    "Name: #{@kitten['name'].upcase}" %><br>
    <%=    "Age: #{@kitten['age']}" %> <br>
    <%=    "Cute? #{@cute}"  %> <br>
    <%=    "Owner: #{@owner_name}"  %> <br>
    <%= "PIC: <img src = 'http://#{@kitten['img_url']}' />" %> <br>
    <a href="/kittens/<%=@kitten['id']%>/update" /> Update </a>

