<h1>Search Titles</h1>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
  <%= form_tag ("/titles/show") do %>
  <%= text_field_tag "q", nil, placeholder: "What would you like to watch?" %>
  <%= submit_tag "Search" %>
<!--   need to disable the search function with an empty text field
 -->
 <% end %>
<% if @movies%>
  <% @movies.each do |t| %>
  <p><%= t[:type] %></p>
    <%= form_tag('/watch_items') do %>
    <%= text_field_tag 'title', t[:title] %>
    <%= text_field_tag 'imdb_id', t[:imdb_id] %>
    <%= submit_tag 'Add to Watchlist' %>
    <% end %>
  <% end %>
<% end %>

<!--   need to make each of these movies have the ability to be added to the user's watch_item as a title that belongs to the user that is unwatched
 -->



