<h1 id="">Movie Info!</h1>

<ul>
<li>Title: <%= @result["Title"] %></li>
<li>Year: <%= @result["Year"] %></li>
<li>Plot: <%= @result["Plot"] %></li>
<li>Director: <%= @result["Director"] %></li>
<li>Genre: <%= @result["Genre"] %></li>
<li>imdbRating: <%= @result["imdbRating"] %></li>
</ul>
