<header role="banner">
  <nav>
    <header>
      <nav class="nav-head">
        <div>
          <h1><%= link_to "Court of Public Opinion", "/", :class => "court-head" %></h1>
        </div>
        <ul>
          <% if current_user %>
          <li><%= link_to "Logout", "/logout" %></li>
          <li><%= link_to "My Bench", "/users/" %></li>
          <% else %>
          <li><%= link_to "Log In", "/login" %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
  </nav>
</header>
