<h2><%= @article.title %></h2>
<br>
<%= @article.body %>
<br>
<%= link_to 'Edit', "/articles/#{@article.id}/edit" %>
<br>
<br>
<%= form_for @comment do |f| %>
  <%= f.hidden_field :article_id, :value => "#{@article.id}" %>
  <%= f.label :body, 'Comment' %>
  <%= f.text_area :body %>
  <%= f.submit %>
<% end %>
<br>
<br>
<% @comments.each do |comment| %>
  <%= comment.body %>
<% end %>
