<div class="cases-main">
<div id="case">
<div id="cases-formz">
Editing  Case # <%= @case.id %>
</div>

<%= form_for(@case) do |f| %>

 <p>
<label>Title: </label>
  <%= f.text_field :title, :class => "text" %></p>

  <label>Conflict: </label>
  <%= f.text_field :conflict, :class => "text"%></p>

  <label>Summary</label>
  <%= f.text_field :summary, :class => "text"%></p>

  <%= f.submit %>
<% end %>
</div>
</div>