<div class="titler">
<h1> Case</h1>
</div>

<div class="cases-main">
  <div id="case">
    <h1>Title: <%= @case.title %></h1>
    <p>Conflict: <%= @case.conflict %></p>
  </div>

    <a href="https://twitter.com/share?url=https%3A%2F%2Fcourtofpopularopinion.heroku.com&amp;via=courtofPOP&amp;text=Looking+for+a+solution:%3A<%= @case.title %>" class="twitter-share-button">Tweet</a>

    <% @case.solutions.each do |solution| %>
      <p> Opinion: <%= solution.opinion %></p>
    <%end%>

     <!--  TODO edit the form to add an opinion to this page -->
      <input id="opinion-input" type="text" placeholder="This conflict needs your opinion!" data-case-id="<%=@case.solutions.new %>"></input>
      <button> Submit </button>

    </div>

<% if current_user  %>
    <% unless current_user.cases.where(id: params[:id]).empty? %>

  <%= link_to "Edit", edit_case_path(@case) %>
  <%= link_to "Delete", case_path(@case), :method => "delete", :confirm => "Are you sure you want to delete?" %>
  <% end %>

  <% end %>



