<div class="cases-main">
  <div id="case">
    <h1>Title: <%= @case.title %></h1>
    <p>Plaintiff: <%= @case.user.name %></p>
    <p>Conflict: <%= @case.conflict %></p>


    <a href="https://twitter.com/share?url=https%3A%2F%2Fcourtofpopularopinion.heroku.com/cases/<%= @case.id %>&amp;via=courtofPOP&amp;text=Looking+for+a+solution:%3A<%= @case.title %>" class="twitter-share-button">Tweet</a>
  </div>
</div>

<div class="cases-main">
  <div id="case">
      <div id="cases-formz">
        <% if @case.user == current_user %>
        <%= link_to "Edit", edit_case_path(@case) %>
        <%= link_to "Delete", case_path(@case), :method => "delete", :confirm => "Are you sure you want to delete?" %>
        <% end %>
      </div>

    <% if @case.solutions.empty? %>
      <h1>This Conflict Needs Your Opinion!</h1>
    <% end %>

    <% @case.solutions.each do |solution| %>

      <div id="vote-<%= solution.id %>">

      <script>
        var $id = $("#vote-" + <%= solution.id %>);
        //creATE upvote image with ajax call to update
        $(document.createElement("img"))
            .attr({ src: '/assets/icons/24/Thumb-up.png', id: 'up-<%= solution.id %>' })
            .appendTo($($id))
            .click(function(e){
                e.preventDefault();
                $.ajax({
                    type: "PUT",
                    contentType: "application/json",
                    url: "<%= case_solution_path(solution.id) %>",
                    data: JSON.stringify({
                      vote: "+",
                      authenticity_token: "<%= form_authenticity_token %>"
                    })
                }).done(
                    function(xhr){
                      console.log(xhr)
                        var $id = $("#vote-" + <%= solution.id %>);
                        $vote = $("#vote-count-<%= solution.id %>").text(xhr);
            });

        });

        // $.ajax({
        //     type: "GET",
        //     dataType: "application/json",
        //     url: "<%= case_solution_path(solution.id) %>",
        //     authenticity_token: "<%= form_authenticity_token %>"
        // }).done(
        //     function(){
             //console.log(xhr)
                $vote = $('<div>', {id: "vote-count-<%= solution.id %>"}).text(<%= solution.score %>);
                $id.prepend($vote);
            // });

        </script>

      </div>

    <div class="opinion-container">
      <div class="opinion">
        <p ><%= solution.opinion %></p>
      </div>

      <div class="opinion-info">
        <p>- <%= solution.user.twitter %> - <%= solution.age.floor %>hrs ago</p>
      </div>
    </div>

    <%end%>
      <!--  add an opinion to this page -->
      <% if current_user  %>
        <div class="new-solution">
          <%= form_for([@case, @solution]) do |f| %>
            <%= f.text_field :opinion, :class => "text" %>
            <%= f.submit "Leave Opinion" %>
          <% end %>
        </div>
      <% else %>
        <%= link_to "Sign In to leave an Opinion", "/auth/twitter" %>
      <% end %>
    </div>

  </div>




</div>
</div>


