<div class="cases-main">
<div id="case">
<h1>Cases: </h1>
<% @user.cases.each do |cased| %>
  <a href="/cases/<%= cased.id %>"><h1><%= cased.title %></h1></a>
  <p><%= cased.conflict %></p>

<%end%>
<h1>Recent Opinions: </h1>
  <% @user.solutions.each do |solution| %>
    <a href="/cases/<%= solution.case.id %>"><p><%= solution.opinion %></p></a>
<%end%>
</div>
</div>
