<div class="cases-main">
<div id="case">
<h3>Cases: </h3>
<% @user.cases.each do |cased| %>
  <p><%= cased.title %> - <%= cased.conflict %></p>
  <a href="/cases/<%= cased.id %>">link</a>
<%end%>
<h3>Recent Opinions: </h3>
  <% @user.solutions.each do |solution| %>
    <p><%= solution.opinion %></p>
    <a href="/cases/<%= solution.case.id %>">link</a>
<%end%>
</div>
</div>
