<h1>Edit <%= @comment[:title] %> comment on <%= @article_title %></h1>


<%= form_for(@comment) do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<%= f.label :body %>
<%= f.text_field :body %>
<%= f.hidden_field :article_id %>
<%= f.submit %>
<% end %>
