<!-- Show the movie's Year, Rated, Released, Runtime, Genre, Director, Writer, Actors and Plot -->

<!-- Add a save button to your movie's show page.

When a user clicks the save button, send a post request back to your server that INSERTS that particular movie INTO the movies table of your movies_db database.

Hint: use a hidden field to send back the movie's imdb rating. -->

<h1 class="movie_title"><%= @movie[:title] %></h1>
<p><strong>Year:</strong> <%= @movie[:year] %></p>
<p><strong>Rated:</strong> <%= @movie[:rated] %></p>
<p><strong>Release Date:</strong> <%= @movie[:released] %></p>
<p><strong>Runtime:</strong> <%= @movie[:runtime] %></p>
<p><strong>Genre: </strong><%= @movie[:genre] %></p>
<p><strong>Director:</strong> <%= @movie[:director] %></p>
<p><strong>Writer:</strong> <%= @movie[:writer] %></p>
<p><strong>Actors:</strong> <%= @movie[:actors] %></p>
<p><strong>Plot:</strong> <%= @movie[:plot] %></p>

<% if @movie[:poster] != "Search Google" %>
  <img src="<%= @movie[:poster] %>">
<% else %>
<p>Search Google for the Movie Poster</p>
<% end %>

<form action="/movies/faves" method="post">
    <input type="hidden" value="<%= @movie[:imdbid] %>" name="imdbid">
    <input class="save" type="submit" value="SAVE">
</form>
