<%= link_to 'Home', '/articles' %>
<h1>New Blog Entry Form</h1>
<%= form_for(@article) do |f| %>
<%= f.text_field :title %>
<%= f.text_area(:body, size: "60x12") %>
<%= f.submit "Create" %>
<% end %>
