<a href="/">Home</a>
<h1>Kitty: Index: <%= @id %></h1>
<ul>
  <li>Name: <%= @name %></li>
  <li>Age: <%= @age %></li>
  <li>Cute?: <%= @is_cute %></li>
  <li>Owner Name: <%= @owner %></li>
</ul>

<img src="<%= @img_url %>" alt="">