<div class = 'links'>
<a href="/">Home</a>
<a href="/new_kitten">Add Kitten</a>
<a href="/kittens">View All Kittens</a>
</div>


<% @kitten['is_cute'] == 't' ? @cute = 'CUTE' : @cute = 'NOT CUTE' %>
    <%=    "Name: #{@kitten['name'].upcase}" %><br>
    <%=    "Age: #{@kitten['age']}" %> <br>
    <%=    "Cute? #{@cute}"  %> <br>
    <%=    "PIC: #{@kitten['img_url']}" %><br>
    <a href="/kittens/<%=@kitten['id']%>/update" /> Update </a>

