<section>
<h2><%= @article.title %></h2>
<article class="article-content">
<%= @article.body %>
</article>

<div class="comments">
<h5>Comments</h5>
<ul class="comments-list">
  <% @article.comments.each do |comment| %>
    <li>
      <div class="comment">
        <span class="comment-datetime">
          <%= comment.created_at %>
        </span>
        <div class="comment-body">
          <%= comment.body %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
</div>
<!-- This syntax below is tricky!!!
[parent object, child object] -->
<%= form_for [@article, @comment] do |f| %>
  <%= f.text_area :body, size: "60x12" %>
  <%= f.submit "Submit Comment" %>
<% end %>

<div class="actions">
<%= link_to "Edit Article", edit_article_path %>
<%= link_to "Delete Article", @article, :method => :delete, :confirm => "Are you sure?" %>
<%= link_to "Back to Articles", articles_path %>
</div>
</section>