<h1>My Kittens</h1>

<% @kittens.each do |kitten| %>
  <h3><%= "#{kitten["name"]}" %></h3>
  <li><%= "#{kitten["age"]}" %> years old</li>
  <li>Cute?
      <% if "is_cute" != 'true' %>
        <% @cute = "YES" %>
      <% else %>
        <% @cute = "NO" %>
      <% end %>
    <%= "#{@cute}" %></li>
    <li>Owner: <%= "#{kitten["owner_id"]}" %></li>
  <img src="<%= "#{kitten["image_url"]}" %>">
<% end %>
