<h1>Edit Piece</h1>
<% if @piece.errors.any? %>

<ul>
  <% @piece.errors.messages.each do |error, msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for(@piece) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.select :artist_id, options_from_collection_for_select(@artists, :id, :name) %>
  <%= f.label "Add artist" %>
  <%= f.text_field :birth %>
  <%= f.label :location %>
  <%= f.text_field :location %>
  <%= f.submit "Submit" %>
<% end %>