
<ul>
    <h2><%= @piece.artist.name %> - "<%= @piece.name %>"<h2>
      <h3>last seen <%= time_ago_in_words(@piece.updated_at) %> - <%= @piece.location %></h3>
    <div class="show-pics">
    <% @piece.pics.each do |pic| %>
      <%= image_tag pic.url, :size => "800X600"  %>
    <% end %>
  </div>
    <div class="piece-favorite">
     <% if current_user && Favorite.where(:user_id => current_user[:id], :piece_id => @piece.id) == [] %>
     <%= form_for [@piece, @favorite] do |f| %>
     <%= f.submit "favorite" %>
     <% end %>
     <% end %>
     <% num_favorites = Favorite.where(:piece_id => @piece.id).count %>
     <p><%= num_favorites %> - Favorites</p>
           <div id="pc-edit" class="piece-edit">
        <% if current_user %>
        <%= link_to "Edit details..", edit_piece_path  %>
        <% else %>
        <br><%= link_to "log in to comment, edit or add favorite", "/login" %>
        <% end %>
      </div>
   </div>

   <div class="comments ">
    <p><u>comments:</u></p>
    <div class="piece-comments">
    <% comments = Comment.where(:piece_id => @piece.id) %>
    <% comments.each do |comment| %>
    <%= comment.entry %>
    <div class="comment-info"> -
      <%= comment.user.username %> -
      <%= time_ago_in_words(comment.updated_at) %>
    </div><br>
    <% end %>
    <!--TODO if session[:id] -->
    <% if current_user %>
    <%= form_for [@piece, @comment] do |f| %>
    <%= f.text_area :entry, size: "40x10" %>
    <%= f.submit "comment" %>
    <% end %>
    <% end %>
  </div>
  </div>

  <div id="gmap">
    <%= gmaps4rails(@gmaps_json) %>
  </div>

