

<form action="/programmers" method='post'>
  <input type="hidden" name="id" value="<%=result.id%>">
  <input type="text" name="name" value="<%=result.name%>">
  <input type="text" name="twitter_username" value="<%=result.twitter_username%>">
  <input type="text" name="twitter_pic" value="<%=result.twitter_pic%>">
  <input type="text" name="github_username" value="<%=result.github_username%>">

  <input type="Submit" value="Submit">

</form>
