<h2><%= @results["Title"] %></h2>

<img class="poster" src="<%= @results["Poster"] %>">

<table>
  <% @results.reject {|k,v| k=="Poster" }.each do |k,v|%>
    <tr>
      <th><%= k %></th>
      <th><%= v %></th>
    </tr>
  <% end %>
</table>
<form action="/movies" method="post" accept-charset="utf-8">
  <input class="add" type="text" name="imdb_id" value="<%= @imdbid %>">
  <input class="add" type="submit" value="add to collection">
</form>
