<h2><%= @results["Title"] %></h2>

<img class="poster" src="<%= @img_url %>">

<div class="goright">
<table>
  <% @results.reject {|k,v| k=="Poster" }.each do |k,v|%>
    <tr>
      <th><%= k %></th>
      <th><%= v %></th>
    </tr>
  <% end %>
</table>

<div class="add">
  <% if @imdb_ids.include? @imdbid %>

    <form action="/movies/<%= @imdbid %>/delete" method="post" accept-charset="utf-8">
      <input type="text" name="imdb_id" value="<%= @imdbid %>">
      <label for="rem_movie">remove from library</label><input type="submit" name="rem_movie" value="" id="rem_movie">
    </form>
  <% else %>

    <form action="/movies" method="post" accept-charset="utf-8">
      <input type="text" name="imdb_id" value="<%= @imdbid %>">
      <label for="add_movie">add movie to your collection</label><input type="submit" name="add_movie" value="" id="add_movie">
    </form>

  <% end %>
</div>
</div>
