<h2><%= @results["Title"] %></h2>

<img class="poster" src="<%= @img_url %>">

<div class="goright">
<table>
  <% @results.reject {|k,v| k=="Poster" }.each do |k,v|%>
    <tr>
      <th><%= k %></th>
      <th><%= v %></th>
    </tr>
  <% end %>
</table>

<div class="add">
  <form action="/movies" method="post" accept-charset="utf-8">
    <input type="text" name="imdb_id" value="<%= @imdbid %>">
    <label for="add_movie">add movie to your collection</label><input type="submit" name="add_movie" value="" id="add_movie">
  </form>
</div>

</div>
