
<% result = @results %>

<h2><%= @header %></h2>

<section class="photo">
  <header class="author">
    <%= result.author%>
  </header>
  <div class="image">
    <%= result.photo_url%>
  </div>
  <div class="date">
    <%= result.date_taken %>
  </div>
<!--   <div class="id">
    <a href="/<%= result.id %>">Show Pic</a>
  </div> -->
</section>
