<ul>
  <% @records.each do |kitten| %>
  <li>ID: <%= kitten["id"] %> <br/>
      Name:  <%= kitten["name"] %> <br/>
      Age:  <%= kitten["age"] %> <br/>
      <%= "#{kitten["name"]} is very cute <br>" if kitten["is_cute"] == "t" %>
      <img src="<%= kitten["image_url"] %>">
    </li>
    <% end %>
</ul>


