<ul>
<img src="<%= @programmer.twitter_pic %>"
<h1><%= @programmer.name %></h1>
  <li><a href="http://twitter.com/<%= @programmer.twitter_username %>"><%= @programmer.twitter_username %></a></li>
</ul>

<a href="/programmers/<%= @programmer.id %>/edit">Click here to edit this page.</a>