<form action="/search" method="get">
  <label for="searchBox">Search Movies</label>
  <input type="text" name="q" id="searchBox">
</form>

<% if @search_results %>
  <div class="results">
    <% @search_results.each do |movie| %>
    <li><a href="/movies/<%= movie['imdbID'] %>"><%= movie["Title"] %> (<%= movie["Year"] %>)</a></li>
    <% end %>
  </div>
<% end %>


<% if @movie %>
  <img src="<%= @movie['Poster'] %>" alt="<%= @movie['Title'] %>">
  <div class="movie-details">
    <h1><%= @movie['Title'] %></h1>
    <p class="genre"><%= @movie['Genre'] %></p>
    <p class="runtime"><%= @movie['Runtime'] %></p>
    <p class="plot"><%= @movie['Plot'] %></p>
    <p class="director"><%= @movie['Director'] %></p>
    <p class="writer"><%= @movie['Writer'] %></p>
    <p class="actors"><%= @movie['Actors'] %></p>
  </div>
<% end %>