<div class = "profile box">
<% if @movie[:poster] != nil %>
<img class = "poster" src = '<%="#{@movie[:poster]}"%>' />
<% else %>
<% end %>

<h2> <%= "#{@movie[:title]}, #{@movie[:year]} " %></h2>
<ul>
  <li><%= "Type: #{@movie[:type]}" %></li>
  <li><%= "Genre: #{@movie[:genre]}" %></li>
  <li><%= "Runtime: #{@movie[:runtime]}" %></li>
  <li><%= "Release Date: #{@movie[:released]}" %></li>
  <li><%= "Director: #{@movie[:director]}" %></li>
  <li><%= "Writer: #{@movie[:writer]}" %></li>
  <li><%= "Actors: #{@movie[:actors]}" %></li>
  <li><%= "Plot: #{@movie[:plot]}" %></li>
</ul>
</div>

<footer>
<a class= "back" href="/movies"> Back to Search </a>
</footer>
