<div class="container">
  <form action="/kittens/edit/<%= @kitten['id'] %>" method="post">
    <label for="name">Name:</label>
    <input name="name" id="name" value="<%= @kitten['name'] %>" /><br />

    <label for="age">Age:</label>
    <input name="age" id="age" value="<%= @kitten['age'] %>" /><br />

    <label for="is_cute">Is cute?</label>
    <input name="is_cute" id="is_cute" value="<%= @kitten['is_cute'] %>" /><br />

    <label for="image_url">Image URL:</label>
    <input name="image_url" id="image_url" value="<%= @kitten['image_url'] %>" /><br />
    <br />
    <input type="submit" />
  </form>
</div>
