<!DOCTYPE html>
<html>
<head>
  <title>GraffHound</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>GraffHound</h1>
    <p>
      <% if session[:user_id] %>
      <%= link_to "logout", "/logout" %>
      <% else %>
      <%= link_to "sign up", "/users/new"  %>
      <%= link_to "log in", "/login" %>
      <% end %>
    </p>
    <nav>
      <ul>
        <li>
          <%= link_to "Artists", "/artists"  %>
        </li>
        <li>
          <%= link_to "Pieces", "/pieces"  %>
        </li>
        <li>
          <%= link_to "Locations", "/location"  %>
        </li>
      </ul>
    </nav>
  </header>
  <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

  <%= yield %>

</body>
</html>
