<!DOCTYPE html>
<html>
<head>
  <title>ProgrammingApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%= link_to("Home", "/") %>
    <%= link_to("New Programmer", "/programmers/new") %>
  </nav>

<%= yield %>

</body>
</html>
