<div class="container">
  <header>
    <nav class="nav-head">
      <ul>
        <% if current_user %>
        <li><%= link_to "Logout", "/logout" %></li>
        <li><%= link_to "My Bench", "/users/#{current_user.id}" %></li>
        <% else %>
        <li><%= link_to "Log In", "/login" %></li>
        <% end %>
      </ul>
    </nav>
  </header>

  <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

  <div="welcome-home">
    <h1> Welcome </h1>
    <h2> Court is in Session!</h2>
  <div>

  <div="gavel-home">
    <img src="./assests/images/gavel.png" >
  <div>

  <div="user-testimony">
    <blockquote> Best decision I ever made </blockqoute>
  </div>


  <%= yield %>


</div>