<div class="container">
  <header>
    <nav class="nav-head">
      <ul>
        <% if current_user %>
        <li><%= link_to "Logout", "/logout" %></li>
        <li><%= link_to "My Bench", "/users/#{current_user.id}" %></li>
        <% else %>
        <li><%= link_to "Log In", "/login" %></li>
        <% end %>
      </ul>
    </nav>
  </header>

  <% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

<div id="courtroom">
  <div id="welcome-home">
    <h1> Welcome </h1>
    <h2> Court is in Session!</h2>
<!--     <img src="scales_of_justice.png"> -->
  </div>

  <div id="gavel-home">
    <img id="gavel-img" src="gavel.png" >
    <p> ENTER </p>
  </div>

  <div id="user-testimony">
    <p> "Killing my boss would have been a huge mistake! I'm so glad I got some great advice from the Court of Public Opinion." - Matt </p>
  </div>


  <%= yield %>

</div>
</div>