<% if @isfull %>
<br><%= @name %> was released <%= @year %>, was rated <%= @rating %>, was released <%= @released %>, is a <%= @genre %> film, is <%= @runtime %> long, was directed by <%= @director %>, written by <%= @writer %>, and starred <%= @actors %>. <br>Synopsis: <%= @plot %>
<br><br>
<a href=<%= @search %> class="nowrap">
<img src=<%= @poster %>></a>
<br><br>
<form action="/faves" method="post"><input type="hidden" name="id" value=<%= @id %>><input type="submit" value="Add to Favorites" class="smallbutton"></form>
<% else %>
<img src="http://www.findingbetteragencies.com/wp-content/uploads/HomerSimpsonDoh.png">
<% end %>

