<h1><%= @movie[:title] %></h1>
<p>Year: <%= @movie[:year] %></p>
<p>Genre: <%= @movie[:genre] %></p>
<p>Rated: <%= @movie[:rated] %></p>
<p>Released: <%= @movie[:released] %></p>
<p>Runtime: <%= @movie[:runtime] %></p>
<p>Director: <%= @movie[:director] %></p>
<p>Writer: <%= @movie[:writer] %></p>
<p>Actors: <%= @movie[:actors] %></p>
<p>Plot: <%= @movie[:plot] %></p>


<% if @movie[:poster] != "Search Google"  %>
  <img src="<%= @movie[:poster] %>">
<% else %>
  <p>Go Search Google for the Movie Poster</p>
<% end %>

<form action="/favorites" method="post">
  <input type="hidden" name="title" value="<%= @movie[:title] %>">
  <input type="hidden" name="year" value="<%= @movie[:year] %>">
  <input type="hidden" name="genre" value="<%= @movie[:genre] %>">
  <input type="hidden" name="rated" value="<%= @movie[:rated] %>">
  <input type="hidden" name="released" value="<%= @movie[:released] %>">
  <input type="hidden" name="runtime" value="<%= @movie[:runtime] %>">
  <input type="hidden" name="director" value="<%= @movie[:director] %>">
  <input type="hidden" name="writer" value="<%= @movie[:writer] %>">
  <input type="hidden" name="actors" value="<%= @movie[:actors] %>">
  <input type="hidden" name="plot" value="<%= @movie[:plot] %>">
  <input type="submit" value="Save to Favorites">
</form>