<div> <%=@trainer.name%> <br>
  <%=@trainer.gym%>
  <%=@trainer.pokemons%>
</div>

<%=form_tag"/trainers/#{@trainer.id}/delete" do %>
      Press to delete trainer
    <%=submit_tag 'Delete'%>
    <%end%>
  <div class="editor"><%=link_to("Edit Trainer","/trainers/#{@trainer.id}/edit")%></div>