<div class="show">
<img src="/<%= @photo['photo'] %>" class=<%= @photo['filter'] %>>
<% author = User.find(@photo.author_id) %>
<br>taken by <%= author['username'] %> on <%= @photo.date_taken %>
</div>
<br>
<form action="/photos/<%= @photo.id %>" method="post">
  <select name="username" id="username">
  <% @user_array.each do |user| %>
  <option value=<%= user[:id] %>><%= user[:username] %></option>
  <% end %>
  </select>
  <br><input type="text" value=<%= @photo.photo %> name="photo" />
  <br><input type="text" value=<%= @photo.date_taken %> name="date_taken">
    <br><label for="select">Filter?</label>
  <br><select name="filter" id="filter">
  <option value="">None</option>
  <option value="filter-blur">Blur</option>
  <option value="filter-edges">Edges</option>
  <option value="filter-emboss">Emboss</option>
  <option value="filter-greyscale">Greyscale</option>
  <option value="filter-mosaic">Mosaic</option>
  <option value="filter-noise">Noise</option>
  <option value="filter-posterize">Posterize</option>
  <option value="filter-sepia">Sepia</option>
  <option value="filter-sharpen">Sharpen</option>
  <option value="filter-tint">Tint</option>
  </select>
  <br><input type="submit" value="submit">
</form>