<% @user_photos.each do |entry| %>
<br><a href="/show/<%= entry.id %>"><img src="<%= entry['photo'] %>" class="<%= entry['filter'] %>"></a>
<br>taken by <%= @author %> on <%= entry['date_taken'] %>
<% end %>