<h2><%= @kitten["name"] %></h2>

<p>Age: <%= @kitten["age"] %></p>
<p>Is cute? <%= @kitten["is_cute"] %></p>
<p> <img src ="<%= @kitten["image_url"] %>"></p>

<form action="/kittens/delete/<%= @kitten["id"] %>" method="post">
  <input type="hidden" name="id" value="<%= @kitten["id"] %>">
  <input type="submit" value="Delete">
</form>

