<h1 id="heading">Edit the comment</h1>
<%= form_for @comment do |f| %>
  <%= f.text_field :body %>
  <%= f.submit %>
<% end %>
<br>

<%= form_tag "/comments/#{@comment.id}", method: 'delete' do %>
  <%= submit_tag "delete this comment" %>
<% end %>
  

