
<header role="banner">
  <nav class="nav-head">
    <div class="container grid">
      <div class="unit two-fifths" id="twitter_login">
        <h1><%= link_to "Court of Popular Opinion", "/", :class => "court-head" %></h1></div>
      <%#= flash[:notice] %>
  <div class="unit three-fifths">

        <% if current_user %>
        <%= image_tag current_user.image, size: "22x22" %> |
        Signed in as <span id="loggedInUser"><%= current_user.name %></span>  |
        <%= link_to "About the Court", "/about" %> |
        <%= link_to "My Bench", current_user
 %> |
        <%= link_to "Cases", "/cases/" %> |
        <%= link_to "sign out", signout_path %>
        <!-- <button id="create-user">Create Case</button> -->
        <% else %>
        <%= link_to "sign in with twitter", "/auth/twitter" %>
        <% end %>
        <%# flash.each do |name, msg| %>
        <%#= content_tag :div, msg, :id => "flash_#{name}" %>
        <%# end %>
  </div>
  </div>

    </nav>
  </header>

