<!DOCTYPE html>
<html>
<head>
  <title>CourtPO</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
   <%= render 'layouts/nav' %>
<%= yield %>
<!--  <%#= flash[:notice] %>
<div id="twitter_login">
  <%# if current_user %>
  Signed in as <%#= current_user.name %>
  <%#= link_to "sign out", signout_path %>
  <%# else %>
  <%#= link_to "sign in with twitter", "/auth/twitter" %>
  <%# end %>
</div> -->

  </div>
  <div id="footer">
  <%= render 'layouts/footer' %>
  </body>
  </div>
</html>
